@import url(reset.css);
@import url(all.min.css);
/*Media*/
@import url(all.min.css);
.footer a {
  text-decoration: none;
  outline: none; }
.footer__main {
  background-image: url(../img/footer_back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }
  .footer__main-wrap {
    width: 1100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative; }
    .footer__main-wrap .footer_adress_section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative;
      padding: 50px 10px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-bottom: 1px solid rgba(133, 133, 133, 0.1); }
      .footer__main-wrap .footer_adress_section .footer_logo {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
      .footer__main-wrap .footer_adress_section .footer_form_section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
        .footer__main-wrap .footer_adress_section .footer_form_section form {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
        .footer__main-wrap .footer_adress_section .footer_form_section input {
          padding: 15px;
          -webkit-box-flex: 1;
              -ms-flex-positive: 1;
                  flex-grow: 1;
          font-size: 14px;
          background-color: #ffffff;
          border-style: none; }
        .footer__main-wrap .footer_adress_section .footer_form_section button {
          padding: 15px;
          color: #E50914;
          background-color: #ffffff;
          border-style: none;
          font-family: "Font Awesome 5 Free"; }
    .footer__main-wrap .footer_contact_section {
      padding: 50px 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer__main-wrap .footer_contact_section .contact_section_links a {
        color: #ffffff;
        font-size: 16px;
        padding: 10px 30px 10px 0;
        font-weight: 500;
        text-transform: capitalize;
        letter-spacing: 0.8px;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease; }
      .footer__main-wrap .footer_contact_section .contact_section_links a:hover {
        color: #E50914; }
      .footer__main-wrap .footer_contact_section .contact_section_social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 -8px; }
        .footer__main-wrap .footer_contact_section .contact_section_social a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          font-family: "Font Awesome 5 Brands";
          font-size: 20px;
          color: #A4A4A4;
          margin: 0 8px;
          width: 36px;
          height: 36px;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          border: 1px solid #A4A4A4;
          background-color: transparent;
          -webkit-transition: 0.5s ease;
          transition: 0.5s ease; }
        .footer__main-wrap .footer_contact_section .contact_section_social a:hover {
          color: #ffffff;
          border-color: #E50914;
          background-color: #E50914; }
.footer__copyright {
  background-color: #E50914;
  position: relative; }
  .footer__copyright-wrap {
    width: 1100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer__copyright-wrap span {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      padding: 10px;
      color: #ffffff;
      padding: 10px;
      font-size: 16px;
      font-weight: 400;
      text-transform: capitalize; }
    .footer__copyright-wrap .footer_pay_section {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: end;
      padding: 10px;
      margin: 0 -10px; }
      .footer__copyright-wrap .footer_pay_section a {
        font-family: "Font Awesome 5 Brands";
        color: #ffffff;
        font-size: 26px;
        margin: 0 10px; }

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .footer__main-wrap {
    width: 95%; }
    .footer__main-wrap .footer_contact_section .contact_section_links {
      display: none; }
    .footer__main-wrap .footer_contact_section .contact_section_social {
      margin: 0 auto; }
  .footer__copyright-wrap {
    width: 95%; } }
@media screen and (min-width: 769px) and (max-width: 992px) {
  .footer__main-wrap {
    width: 99%; }
    .footer__main-wrap .footer_contact_section .contact_section_links {
      display: none; }
    .footer__main-wrap .footer_contact_section .contact_section_social {
      margin: 0 auto; }
  .footer__copyright-wrap {
    width: 99%; } }
@media (max-width: 768px) {
  .footer__main-wrap {
    width: 99%; }
    .footer__main-wrap .footer_adress_section {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 25px 10px; }
      .footer__main-wrap .footer_adress_section .footer_logo {
        padding-bottom: 20px; }
      .footer__main-wrap .footer_adress_section .footer_form_section {
        width: 100%; }
    .footer__main-wrap .footer_contact_section {
      padding: 20px 10px; }
      .footer__main-wrap .footer_contact_section .contact_section_links {
        display: none; }
      .footer__main-wrap .footer_contact_section .contact_section_social {
        margin: 0 auto; }
  .footer__copyright-wrap {
    width: 99%; }
    .footer__copyright-wrap span {
      text-align: center; }
    .footer__copyright-wrap .footer_pay_section {
      display: none; } }

/*# sourceMappingURL=style.css.map */