@mixin wrap(){
	width: $width_base;
	margin: 0 auto;
	display: flex;
}

/*Media*/
@mixin desktop {
    @media screen and (min-width: $desctop_min) and (max-width: $desctop_max) {
        @content;
    }
}
@mixin laptop {
    @media screen and (min-width: $laptop_min) and (max-width: $laptop_max) {
        @content;
    }
}
@mixin tablets {
    @media screen and (min-width: $tablets_min) and (max-width: $tablets_max) {
        @content;
    }
}
@mixin phones {
   @media screen and (max-width: $phones_max) {
        @content;
   }
}