$color1: #fcfcfc;
$color2: #fff;
$color3: #f55;
$color4: #1091ff;

$width_base: 1100px;

$desctop_max: 1200px;
$desctop_min: 993px;

$laptop_max: 992px;
$laptop_min: 769px;

$tablets_max: 768px;
$tablets_min: 481px;

$phones_max: 480px;