.header {
	min-height: 85px;
	height: 100%;
	margin-bottom: 100px;
	&__logo {
		display: flex;
		align-items: center;
	}
	&__wrapper {
		display: flex;
		min-height: 85px;
    align-items: center;
		width: 100%;
		padding: 0 100px;
		justify-content: space-between;
		position: absolute;
		top: 0;
    z-index: 1;
		background-color: rgba(0, 0, 0, 0.5);
	}
	&__menu {
		font-family: $robotoMedium;
		font-weight: 500;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 600px;
		&-item {
			@include nestingHorizontal;
			& a {
				outline: none;
				font-family: $robotoRegular;
			}
			& > a {
				font-family: $robotoMedium;
				line-height: 50px;
			}
			&_active {
				& a {
					color: $color5;
				}
			}
		}
		&-link {
			color: $color2;
			text-decoration: none;
			display: block;
			position: relative;
			padding-right: 15px;
			transition: all .3s;
			.arrow-down {
				font-size: 10px;
				position: absolute;
				right: 0px;
				top: 50%;
				transform: translateY(-50%);
				transition: all .1s;
			}
			&:hover .arrow-down,
			&:hover {
				color: $color5;
			}
		}
	}
	&__user-btns {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 220px;
		&-search {
			display: block;
			i {
				font-size: 20px;
				color: #fff;
			}
			&:hover i {
				color: #FF2827;
			}
		}
		&-authorize {
			@include mainBtn;
		}
	}
}

.widget{
	@include wrap();
	background-image: url('../img/1350x600-2.jpg');
	background-size: $width_base auto;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	padding: 110px 70px;
	font-family: $robotoBold, sans-serif;
	font-weight: 600;
	margin-bottom: 100px;
	&__wrap{
		color: $color2;
		display: flex;
		flex-direction: column;
		width: 45%;
		position: relative;
		h2{
			font-size: 34px;
			font-weight: 600;
			text-transform: capitalize;
			line-height: 1.3em;
		}
		p{
			font-size: 18px;
			font-weight: 400;
			font-family: $robotoRegular, sans-serif;
			line-height: 24px;
			margin-bottom: 20px;
		}
		span{
			padding-top: 30px;
		}
		a{
			@include mainBtn;
			text-decoration: none;
			outline: none;
			font-size: 18px;
			font-weight: 500;
			font-family: $robotoMedium, sans-serif;
			color: $color2;
			background-color: $color5;
			border: 1px solid $color5;
			padding: 15px 30px 15px 30px;
			transition: 0.3s ease;
		}
	}
}

.main-timer {
	@include wrap;
	background: url('../img/counter.jpg') no-repeat;
	background-size: cover;
	height: 200px;
	margin-bottom: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: $color2;
	padding: 0 100px;
	&__title {
		font-family: $robotoBold, sans-serif;
		font-size: 40px;
		font-weight: 700;
		line-height: 1.3em;
	}
	&__counter {
		display: flex;
		justify-content: space-between;
		width: 390px;
		height: 80px;
		align-items: center;
	}
	&__item {
		background-color: $color1;
		font-size: 40px;
		font-family: $robotoBold, sans-serif;
		height: 100%;
		width: 75px;
		text-align: center;
		line-height: 80px;
	}
	&__days {

	}
	&__hours {

	}
	&__minutes {

	}
	&__seconds {

	}
}

.explore-language {
	@include wrap;
	margin-bottom: 100px;
	&__title {
		font-size: 28px;
    font-weight: 400;
		font-family: $robotoRegular, sans-serif;
		margin-bottom: 20px;
	}
	&__items {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		width: 240px;
		height: 120px;
		text-align: center;
		line-height: 120px;
		color: $color2;
		font-size: 30px;
    font-weight: 600;
		font-family: $robotoBold, sans-serif;
		text-transform: uppercase;
		cursor: pointer;
		&:hover {
			background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%);
		}
		&_english {
			background: url('../img/language_1.jpg') no-repeat;
		}
		&_hindi {
			background: url('../img/language_2.jpg') no-repeat;
		}
		&_marathi {
			background: url('../img/language_3.jpg') no-repeat;
		}
		&_telugu {
			background: url('../img/language_4.jpg') no-repeat;
		}
		&_tamil {
			background: url('../img/language_5.jpg') no-repeat;
		}
	}

}

.our-pricing-strategy {
	@include wrap;
	margin-bottom: 100px;
	&__title {
		text-transform: uppercase;
		text-align: center;
		width: 100%;
		font-size: 30px;
    font-weight: 500;
		font-family: $robotoMedium;
		margin-bottom: 50px;
	}
	&__items {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__item {
		width: 31%;
		border: 2px solid transparent;
		transition: .3s all;
		text-align: center;
		font-family: $robotoMedium;
		font-weight: 500;
		background-color: $color6;
		color: $color2;
		padding: 50px 0;
		.strategy__item {
			&-plan {
				text-transform: uppercase;
				font-size: 22px;
				margin-bottom: 25px;
			}
			&-price {
				font-size: 48px;
				margin: 0 auto 50px auto;
				padding: 13px 25px;
				font-weight: 700;
				font-family: $robotoBold;
				display: flex;
				align-items: center;
				justify-content: space-around;
				width: 78%;
				background-color: $color5;
				transition: all .3s;
				& > span {
					font-size: 18px;
					&:first-of-type {
						height: 0px;
					}
					&:last-of-type {
						height: 40px;
					}
				}
			}
			&-parameters {
				font-size: 18px;
				font-family: $robotoRegular;
				margin-bottom: 50px;
			}
			&-parameter {
				position: relative;
				width: fit-content;
				margin: 0 auto;
				&:before {
					content: '\f00d';
					position: absolute;
					left: -15px;
					top: 50%;
					transform: translateY(-50%);
					font-weight: 900;
					font-family: $fontAwesome;
					font-size: 10px;
					color: $color5;
				}
				&_included {
					&:before {
						content: '\f00c';
						color: $color2;
					}
				}
				&:not(:last-child) {
					margin-bottom: 25px;
				}
			}
			&-btn {
				border: 2px solid $color5;
				padding: 12px 30px 10px 30px;
				display: block;
				transition: all .3s;
				width: fit-content;
				margin: 0 auto;
				&_link {
					text-transform: uppercase;
					font-weight: 400;
					font-family: $robotoRegular;
					text-decoration: none;
					color: $color5;
				}
			}
		}
		&:hover {
			border: 2px solid $color5;
		}
		&:hover .strategy__item-price {
			background-color: $color2;
			color: $color5;
		}
		&:hover .strategy__item-btn {
			border: 2px solid $color2;
			background-color: $color2;
		}
	}
	.narrow {
		width: 30%;
	}
}

.movies_dva{
	@include wrap;
	padding: 0;
  display: flex;
	margin-bottom: 100px;
	.movies_action{
		width: 100%;
		margin: 0 10px;
	}
	.movies_logo{
		padding: 10px;
		color: #000000;
		font-size: 28px;
		font-weight: 400;
		text-transform: capitalize;
		font-family: 'Roboto', sans-serif;
	}
	.movies_horror{
		width: 100%;
		margin: 0 10px;
	}
	.movies_video{
		padding: 10px;
		height: 360px;
	}
	.movies_video a{
		height: 100%;
		position: relative;
		overflow: hidden;
		display: block;
	}
	.movies_video a img{
		width: 100%;
		object-fit: cover;
		height: 100%;
	}
	.catalog_movies{
		display: flex;
	}
	
	.kartocka{
		width: 50%;
		padding: 10px;
	}
	.link_kartocka_r{
		display: flex;
		padding: 10px;
		border: 1px solid #ccc;
		text-decoration: none;
		&:hover .link_kartocka_r_text p{
			color: $color5;
			transition: all .3s;
		}
	}
	.kartocka_r_img{
		height: 116px;
		width: 43%;
		margin-right: 10px;
	}
	.kartocka_r_img img{
		object-fit: cover;
		height: 100%;
	}
	.link_kartocka_r_text h3{
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		color: #E50914;
		font-size: 14px;
		font-weight: 400;
		text-transform: capitalize;
		font-family: 'Roboto', sans-serif;
	}
	.link_kartocka_r_text p{
		margin-top: 20px;
		color: #000000;
		font-size: 18px;
		line-height: 22px;
		font-family: 'Roboto', sans-serif;
	}
	.link_kartocka_r_text{
		margin-top: 20px;
	}
}

// START lastest-movies
.wrap_Latest_Movies{
	@include wrap;
  margin: 0 auto 100px;
}
.wrap_Latest_Movies i{
	color: #E50914;
	font-size: 15px;
	font-weight: 400;
	width: 15.5px; 
}
.wrap_Latest_Movies a{
	text-decoration: none;
	color: #000;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500; 
}
.wrap_Latest_Movies h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 28px;
	margin-top: 20px;
	margin-bottom: 15px;
}
.Latest_Movies_text{
	display: flex;
	justify-content: space-between;
	padding: 0 8px;
}
.VIEW{
	margin: 24px 0px 24px;
}
.VIEW a{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #E50914;
}
.VIEW:hover a{
	text-decoration: underline;
}
.Movies_1_a {
	padding-top: 15px; 
}
.Movies_1_a:hover a{
	color: #cf2e2e; 
}
.Movies_1_h2{
	display: flex;
}
.Movies_1_h3{
	display: flex;
}
.Movies_1_h4{
	display: flex;
}
.Movies_1_h2 h2{
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #00000075; 
}
.Movies_1_h3 h2{
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #00000075; 
}
.Movies_1_h4 h2{
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #00000075; 
}
.Movies_1_h2 p{
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #00000075;
	margin-top: 20px;
}
.Movies_1_h4 p{
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #00000075;
	margin-top: 20px;
}
.Movies_1_h3 p{
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #00000075;
	margin-top: 20px;
}
.Movies_1_h2 img{
	width: 10px;
	height: auto;
}
.Movies_1_h3 img{
	width: 10px;
	height: auto;
}
.Movies_1_h4 img{
	width: 10px;
	height: auto;
}
.img_movies{
	display: flex;
	flex-wrap: nowrap;
}
.Movies_1{
	flex-direction: column;
	color: #000;
	padding: 0 8px;
}
.Movies_1 img{
	width: 272.5px;
	height: 172.94px;
}
.Movies_1_h3 .fa-clock{
	margin-top: 20px;
	margin-left: 122px;
}
.Movies_1_h4 .fa-clock{
	margin-top: 20px;
	margin-left: 80px;
}
.fa-clock{
	margin-top: 20px;
	margin-left: 50px;
}
.fa-thumbs-up{
	margin-top: 20px;
	margin-left: 5px;
}
.like{
	margin-top: 20px;
}
.hover_movies{
		overflow: hidden;
		position: relative;
}
.hover_movies:before{
	content: '';
	position: absolute;
	top: -1px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all .5s;
	opacity: 1;
	transform: translate(-30%,-100%);
	background-color: rgba(17,16,16,.16);
}
.hover_movies:after{
	content: '';
	position: absolute;
	top: -1px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all .7s;
	opacity: 1;
	transform: translate(-30%,-100%);
	background-color: rgba(17,16,16,.16);
}
.hover_movies:hover:before{
transform: translate(0px,0px);
top: 0;
left: 0;
}
.hover_movies:hover:after{
transform: translate(0px,0px);
right:  0;
bottom: 0;
}
// END lastest-movies

// END lastest-movies
.Latest_News{
  margin-top: 40px;
  margin-bottom: 20px;
}
.blog_image{
  display: flex;
  position: relative;
}
.wrap_blog_img{
  overflow: hidden;
  width: 430.97px;
  margin-right: 150px;
}
.wrap_blog_img2{
  overflow: hidden;
  width: 430.97px;
}
.blog_image img{
  width: 430.97px;
  height: auto;
  margin-left: 8px;
}
.blog_image a{
  overflow: hidden;
  margin-right: 150px;
}
.blog_image > a{
  
}
.blog_image a:hover img{
  transform: rotate(3deg) scale(1.1);
  transition: all .4s ease;
  opacity: 0.8;
}
.award_ceremony{
  background-color: #fff;
  width: 250px;
  height: 170px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  position: absolute;
  top: 60px;
  left: 248px;
  margin-right: 150px;
  color: #000;
  padding: 30px;
}
.award_ceremony h2{
  font-size: 26px;
  color: #000;
  margin-top: 0;
}
.award_ceremony h2:hover{
  color: #E50914;
}
.award_ceremony p{
  color: #737373;
  text-align: left;
  margin: 0px 0px 30px 0px;
  font-size: 16px;
  line-height: 1.5;
} 
.award_ceremony a{
  color: #000;
  font-size: 16px;
  text-decoration: underline;
  font-weight: 400;
}
.award_ceremony a:hover{
  color: #E50914;
  text-decoration: none;
}
.award_ceremony:hover img{
  transform: rotate(3deg) scale(1.1);
  transition: all .4s ease;
  opacity: 0.8;
}
.award_ceremony2{
  background-color: #fff;
  width: 250px;
  height: 170px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  position: absolute;
  top: 60px;
  left: 813px;
  margin-right: 150px;
  color: #000;
  padding: 30px;
}
.award_ceremony2 h2{
  font-size: 26px;
  color: #000;
  margin-top: 0;
}
.award_ceremony2 h2:hover{
  color: #E50914;
}
.award_ceremony2 p{
  color: #737373;
  text-align: left;
  margin: 0px 0px 30px 0px;
  font-size: 16px;
  line-height: 1.5;
} 
.award_ceremony2 a{
  color: #000;
  font-size: 16px;
  text-decoration: underline;
  font-weight: 400;
}
.award_ceremony2 a:hover{
  color: #E50914;
  text-decoration: none;
}
// END lastest-movies

// START bashir
.bashir {
	background: rgb(85, 85, 85);
	margin-bottom: 100px;
}
.bashir_obertka{
	@include wrap;
  display: flex;
  padding: 150px 22.5px;
}
.bashir_l_h{
  color: #fff;
  margin-bottom: 60px;
  padding-right: 71px;
}
.bashir_l_h_button a{
	@include mainBtn;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #E50914;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E50914;
    border-radius: 0px 0px 0px 0px;
    padding: 15px 30px 15px 30px;
    text-decoration:none;
    font-weight: normal;
}
.bashir_l_h_button a:hover{
  background-color: #fff;
  color: red;
  border: 1px solid red;
}
.bashir_r_img{
  overflow: hidden;
  position: relative;
}
.bashir_r_img img{
  width: 100%;
    height: 58.67%;
    max-width: 767px;
}
.bashir_r_img:before{
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all .5s;
    opacity: 1;
    transform: translate(-30%,-100%);
    background-color: rgba(17,16,16,.16);

}
.bashir_r_img:after{
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all .7s;
    opacity: 1;
    transform: translate(-30%,-100%);
    background-color: rgba(17,16,16,.16);
}
.bashir_r_img:hover:before{
  transform: translate(0px,0px);
  top: 0;
  left: 0;
}
.bashir_r_img:hover:after{
  transform: translate(0px,0px);
  right:  0;
  bottom: 0;
}
.bashir_l_h_logo{
  color: #FFFFFF;
    margin: 0px 0px 15px 0px;
    font-size: 40px !important;
    font-weight: 600;
		font-family: $robotoBold, sans-serif;
    text-transform: capitalize;
    line-height: 1.3em;
}
.bashir_l_h_text {
	font-weight: 400;
	font-family: $robotoRegular, sans-serif;
}
.bashir_l_h_title{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.bashir_l_h_text p{
  color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 0px 0px 20px 0px;
}
.bashir_l{
  width: 50%;
  padding: 20px 0;
}
.bashir_r{
  width: 50%;
}
// END bashir